<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include("../partials/head")%>
<body>
  <!-- HEADER -->
  <%- include("../partials/header")%>

    <main id="productDetail">
      <h2 class="product-name"><%= product.name %></h2>
        <section class="imagenes-detalles">
            <div class="card">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <% product.image.forEach(img => { %>
                 <div class="carousel-item active" data-bs-interval="10000">
                <img src="/images/products/<%= img %>" class="d-block w-100" alt="imagen">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
             <% }); %>
             </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="detalles">
            <ul class="list-group">
                <li class="list-group-item"><%= product.name ? product.name : "-" %></li>
                <li class="list-group-item">$ <%= product.price ? product.price : "-" %></li>
                <li class="list-group-item"><%= product.discount ? product.discount : "-" %> %OFF</li>
                <li class="list-group-item"><%= product.description ? product.description : "-" %></li>
                <li class="list-group-item">Stock: <%= product.stock ? product.stock : "No hay Stock" %></li>
                <li class="list-group-item">Marca: <%= product.brand ? product.brand : "-" %></li>
                <li class="list-group-item">Categoria: <%= product.category ? product.category : "-" %></li>
                <li class="list-group-item">CPU: <%= product.cpu ? product.cpu : "-" %></li>
                <li class="list-group-item">Tarjeta Grafica: <%= product.graphicCard ? product.graphicCard : "-" %></li>
                <li class="list-group-item">Sistema Operativo: <%= product.so ? product.so : "-" %></li>
                <li class="list-group-item">RAM: <%= product.ram ? product.ram : "-" %></li>
                <li class="list-group-item">Capacidad: <%= product.capacity ? product.capacity : "-" %></li>
                <li class="list-group-item">Puertos: <%= product.puertos ? product.puertos : "-" %></li>
                <li class="list-group-item">HDMI: <%= product.hdmi ? product.hdmi : "-" %></li>
                <li class="list-group-item">Ethernet: <%= product.ethernet ? product.ethernet : "-" %></li>
                <li class="list-group-item">USB: <%= product.usb ? product.usb : "-" %></li>
                <li class="list-group-item">Wifi: <%= product.wifi ? product.wifi : "-" %></li>
                <li class="list-group-item">WebCam: <%= product.webCam ? product.webCam : "-" %></li>
                <li class="list-group-item">Bluetooth<%= product.bluetooth ? product.bluetooth : "-" %></li>
                <li class="list-group-item">Screen-Size: <%= product.screenSize ? product.screenSize : "-" %></li>
                <li class="list-group-item">Display: <%= product.display ? product.display : "-" %></li>
                <li class="list-group-item">Resolucion: <%= product.resolution ? product.resolution : "-" %></li>
                <li class="list-group-item">Conexion: <%= product.conection ? product.conection : "-" %></li>
                <li class="list-group-item">Peso: <%= product.weight ? product.weight : "-" %></li>
                <li class="list-group-item">Altura: <%= product.hight ? product.hight : "-" %></li>
                <li class="list-group-item">Ancho: <%= product.width ? product.width : "-" %></li>
                <li class="list-group-item">Profundidad: <%= product.deepth ? product.deepth : "-" %></li>
              </ul>
        </div>
        </section>
        <div class="btn-container">
          <button class="btn-primary"><a href="/products/productCart">Agregar al carrito</a></button>
        </div>       
</main>
<!-- FOOTER -->
<%- include("../partials/footer")%>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>