<main id="home">
    <section class="porducts-offerts  js-flickity" data-flickity-options='{ "freeScroll": true, "watchCSS": true  }'>
        <% productosEnOferta.forEach(product =>  { %>
         <article class="product carousel-cell">
            <div class="photo-container">
                <a href="/products/productDetail/<%= product.id %>">
                    <img src="/images/products/<%= product.image[0]%>" alt="">
                </a>
                <!-- moto ofert y heard -->
                <i class="fa-regular fa-heart"></i>
            </div>
            <a href="/products/productDetail/<%= product.id  %>">
                <% if (product.name.length > 12) { %> 
                    <h3><%=product.name.slice(0,12) %></h3> <% } else{ %>
                <h3><%= product.name%></h3>
                <% } %>
            </a>
            <div class="price">
                <h3>$<%= toThousand(product.price)%></h3>
                <% if(product.discount > 0) { %>
                <span class="numb-offert"><%= product.discount %>% OFF</span>  
                <% } %> 
            </div>
            <p>envio gratis...</p>
        </article>
        <% }) %>
        
    
    </section>
</main>
