<main id="sales">
    <section class="porducts-offerts  js-flickity" data-flickity-options='{ "freeScroll": true, "watchCSS": true  }'>
        <% products.forEach(product =>  { %>
         <article class="product carousel-cell">
            <div class="photo-container">
                <a href="/productDetail">
                    <img src="images/products/<%= product.image[0]%>" alt="">
                </a>
                <!-- moto ofert y heard -->
                <i class="fa-regular fa-heart"></i>
            </div>
            <a href="/productDetail">
                <% if (product.name.length > 12) { %> 
                    <h3><%=product.name.slice(0,12) %></h3> <% } else{ %>
                <h3><%= product.name%></h3>
                <% } %>
            </a>
            <div class="price">
                <h3>$<%= product.price %></h3>
                <span class="numb-offert"><%= product.discount %>% OFF</span>
            </div>
            <p>envio gratis...</p>
        </article>
        <% }) %>
        
    
    </section>
</main>
