<!DOCTYPE html>
<html lang="en">
    <!-- head -->
<%- include("../partials/head", {title: "login"})  %>
   <!-- fin del head --> 

   <title>login</title>
<body>

    <!-- header -->
    <%- include("../partials/header",) %>
     <!-- fin del header -->

    <main id="login">
        <section>
            <div class="form-container">
                <h4 class="title">Iniciar sesión</h4>
                <!-- ingresando login -->
            <form action="/users/login" method="post" id="loginForm">
                <div class="form">
                    <div class="input-container">
                        <input id="email" class="input-email" type="email" name="email" placeholder="Ingresar correo...">
                        <span id="emailError" class="errorsF"></span>
                        <i class="form-estadoEmail fas fa-times-circle" id="iconEmail"></i>
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-danger"><%= errors.email.msg %> </small>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <input id="password" class="input-clave" type="password" name="pass" placeholder="Ingresar contraseña...">
                        <span id="passwordError" class="errorsF"></span>
                        <i class="form-estadoEmail fas fa-times-circle" id="iconPass"></i>
                        <% if (locals.errors && errors.pass) { %>
                            <small class="text-danger"><%= errors.pass.msg %> </small>
                        <% } %>
                    </div>
                    <div class="checkUser-container">
                        <input class="input-check" type="checkbox" name="check" id="check" placeholder="Recordar usuario" checked>
                        <label class="checkUser-label" for="check" >Recordar usuario</label>
                    </div>
                    <div class="span-container">
                        <span class="textLogin"> <a href="/users/register">Registrarme</a></span>
                        <span class="textLogin"> <a href="">Olvide mi clave</a></span>
                    </div>
                    <div class="login-container">
                        
                        <% if (locals.errorMsg ) { %>
                            <small class="text-danger"><%= errorMsg %> </small>
                        <% } %>
                        <button type="submit" class="btn-login" value="login">Login</button>
                        <span id="loginError" class="errorsF"></span>
                    </div>
                    <h4>Iniciar sesión con....</h4>
                    <div >
                        <button type="submit" class="button-redes"><i class="fa-brands fa-facebook"></i> Iniciar con Facebook</button>
                    </div>
                    <div >
                        <button type="submit" class="button-redes"><i class="fa-brands fa-google"></i> Iniciar con Google</button>
                    </div>
                </div>
            </form> 
        </div>
        </section>
            
    </main>

   <!-- footer-->
      <%- include("../partials/footer")  %> 
   <!-- fin del footer -->
   <script src="/JS/validations/loginValidation.js"></script>
   <%- include("../partials/scripts") %>
</body>
</html>