<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<title>Admin - agregar producto</title>
<body>
    <!-- header -->
    <%- include("../partials/header") %> 
    <!-- fin del header -->

    <main id="register">
        <div class="registro-container">
            <form action="" method="POST" enctype="multipart/form-data" id="form">
                
                <div class="registro-form">
    
                    <h4>Agregar producto</h4>
                    <!-- nombre del producto -->
                    <div class="input-container">
                        <h6  class="datos-box">Nombre del producto:</h6>
                        <input class="input-style obligatoria" type="text" name="name" id="name" placeholder="Ingresar nombre..." value="<%= locals.old && locals.old.name ? locals.old.name : null %>">
                        <span class="error" id="nameErrors"></span>
                        <small class="text-danger ms-2"><%= locals.errors && errors.name ? errors.name.msg : null%></small>                    
                    </div>
                    <!-- Marca del producto -->
                    <div class="input-container">
                        <h6 class="datos-box">Marca del producto:</h6>
                        <input class="input-style obligatoria" type="text" name="brand" id="brand" placeholder="Ingresar la marca..." value="<%= locals.old && locals.old.name ? locals.old.name : null %>">
                        <span class="error" id="brandErrors"></span>
                        <small class="text-danger ms-2"><%= locals.errors && errors.brand ? errors.brand.msg : null%></small>
                    </div>
    
                    <!-- agregar categoria -->
                    <div class="input-container">
                        <h6 class="datos-box">Categoria:</h6>
                        <select name="category" id="category" class="input-select obligatoria">
                            <option value="" hidden selected>Elija su categoria</option>
                            <% arrayDeCategorias.forEach(category => { %>
                                <option value="<%= category.id %>"><%= category.name %></option>
                            <% }) %>
                        </select>
                        <span class="error" id="categoryErrors"></span>
                        <small class="text-danger ms-2"><%= locals.errors && errors.category ? errors.category.msg : null%></small>
                    </div>
                    <!-- agregar sub categoria -->
                    <div class="input-container">
                        <h6 class="datos-box">Sub-categoria:</h6>
                        <input class="input-style" type="text" name="lastname" placeholder="Ingresar Sub-categoria">
                    </div>
                    <!-- price -->
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box ">Precio:</h6>
                            <input class="input-style obligatoria" type="text" name="price" id="price" placeholder="Numerico" value="<%= locals.old && locals.old.price ? locals.old.price : null %>">
                            <span class="error" id="priceErrors"></span>
                            <small class="text-danger ms-2"><%= locals.errors && errors.price ? errors.price.msg : null%></small>
                        </div>
                    <!-- Discount -->
                        <div class="input-container container-descount-A">
                            <h6 class="datos-box">Descuento:</h6>
                            <input class="input-style obligatoria" type="text" name="discount" id="discount" placeholder="Numerico" value="<%= locals.old && locals.old.discount ? locals.old.discount : null %>">
                            <span class="error" id="discountErrors"></span>                          
                            <small class="text-danger ms-2"><%= locals.errors && errors.discount ? errors.discount.msg : null%></small>
                        </div>
                    </div>
                    <!-- Stock -->
                    <div class="contaner-price-descount container-price-b">
                        <div class="input-container ">
                            <h6 class="datos-box ">Stock:</h6>
                            <input class="input-style" type="text" name="stock" id="stock" placeholder="Numerico">
                        </div>
                    </div>
    
                    <!-- ESPECIFICACION TECNICA -->
                    <h6 class="datos-box title-tecnicalEspecific">Especificaciones tecnicas</h6>
                    <!-- description general -->
                    <div class="input-container">
                        <h6 class="datos-box">Descripción:</h6>
                        <textarea name="description" id="description" class='obligatoria'  placeholder="Descripción del producto..." value="<%= locals.old && locals.old.description ? locals.old.description : null %>"></textarea>
                        <span class="error" id="descriptionErrors"></span>
                        <small class="text-danger ms-2"><%= locals.errors && errors.description ? errors.description.msg : null%></small>
                    </div>
                    <!-- CPU -->
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">CPU:</h6>
                            <input class="input-style" type="text" name="cpu" id="cpu" placeholder="CPU">
                        </div>
                    <!-- Tarjeta Grafica -->
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Placa/Grafica:</h6>
                            <input class="input-style" type="text" name="graficCard" id="graphic-card" placeholder="Placa Grafica">
                        </div>
                    </div>
                    <!-- Sistema Operativo -->
                    <div class="input-container">
                        <h6 class="datos-box">Sistemas operativos:</h6>
                        <select name="so" id="so" class="input-select" >
                            <option value="" hidden selected>Elija los SO:</option>
                            <option value="Windows">Windows</option>
                            <option value="Linux">Linux</option>
                            <option value="MacOS">MacOS</option>
                            <option value="Ubuntu">Ubuntu Linux</option>
                        </select>
                    </div>
                    <!-- memoria/almacenamiento -->
                    <h6 class="datos-box title-tecnicalEspecific">Memorias</h6>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">RAM/tipo:</h6>
                            <input class="input-style" type="text" name="ram" id="ram" placeholder="RAM">
                        </div>
                        <!-- Capacidad -->
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Capacidad/tipo:</h6>
                            <input class="input-style" type="text" name="capacity" id="capacity" placeholder="Capacidad/tipo">
                        </div>
                    </div>
    
                    <!-- conectividad -->
                    <h6 class="datos-box title-tecnicalEspecific">Conectivilidad</h6>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Puertos:</h6>
                            <input class="input-style" type="text" name="puertos" id="ports" placeholder="Puertos">
                        </div>
                        <!-- HDMI -->
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Puertos HDMI:</h6>
                            <input class="input-style" type="text" name="hdmi" id="hdmi" placeholder="Puertos HDMI">
                        </div>
                    </div>
                    <!-- Puertos ethernet -->
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Puertos Ethernet:</h6>
                            <input class="input-style" type="text" name="ethernet" id="ethernet" placeholder="Puertos Ethernet">
                        </div>
                        <!-- Puertos USB -->
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Puertos USB:</h6>
                            <input class="input-style" type="text" name="usb" id="usb" placeholder="Puertos USB">
                        </div>
                    </div>
                    <!-- wifi -->
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">WIFI:</h6>
                            <input class="input-style" type="text" name="wifi" id="wifi" placeholder="WIFI">
                        </div>
                        <!-- WebCam -->
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">WebCam:</h6>
                            <input class="input-style" type="text" name="webCam" id="webCam" placeholder="WebCam">
                        </div>
                    </div>
                    <!-- Bluetooth -->
                    <div class="contaner-price-descount container-price-b">
                        <div class="input-container ">
                            <h6 class="datos-box ">Bluetooth:</h6>
                            <input class="input-style" type="text" name="bluetooth" id="bluetooth" placeholder="Bluetooth">
                        </div>
                    </div>
                    <!-- pantalla -->
                    <h6 class="datos-box title-tecnicalEspecific">Pantalla</h6>
                    <div class="contaner-price-descount">
                        <!-- Tamaño -->
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Tamaño:</h6>
                            <input class="input-style" type="text" name="screenSize" id="screen-size" placeholder="Tamaño">
                        </div>
                        <!-- Display -->
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Tipo display:</h6>
                            <input class="input-style" type="text" name="display" id="display" placeholder="Tipo-display">
                        </div>
                    </div>
                    <!-- Resolution -->
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">resolucion:</h6>
                            <input class="input-style" type="text" name="resolution" id="resolution" placeholder="resolucion">
                        </div>
                        <!-- Conexion -->
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Conección:</h6>
                            <input class="input-style" type="text" name="Conection" id="Conection" placeholder="Conección">
                        </div>
                    </div>
                    <!-- dimenciones -->
                    <h6 class="datos-box title-tecnicalEspecific">Dimenciones</h6>
                    <div class="contaner-price-descount">
                        <!-- PESO -->
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Peso:</h6>
                            <input class="input-style" type="text" name="weight" placeholder="resolucion">
                        </div>
                        <!-- Altura -->
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Alto:</h6>
                            <input class="input-style" type="text" name="high" id="high" placeholder="Alto">
                        </div>
                    </div>
                    <!-- Ancho -->
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Ancho:</h6>
                            <input class="input-style" type="text" name="width" id="width" placeholder="Ancho">
                        </div>
                        <!-- Profundidad -->
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Profundidad:</h6>
                            <input class="input-style" type="text" name="depth" id="depth" placeholder="Profundidad">
                        </div>
                    </div>
    
                    <!-- agregar image -->
                    <div class="input-container input-file img-container" id="img-preview">
    
                        <h6 class="datos-box">Imagenes del producto:</h6>
                        <input class="input-style-file" accept="image/png,image/jpeg" type="file"  name="image" id="image" multiple>
                        
                    </div>
    
                    <!-- boton de enviar -->
                    <span id="submitErrors"></span>
                    <button class="button-container" type="submit">Agregar</button>
                </div>
            </form>
        </div>
    </main>
    
    <!-- footer -->
    <%- include("../partials/footer") %> 
    <!-- fin del footer -->
    <%- include("../partials/scripts") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="/JS/validations/productAddValidator.js"></script>

</body>
</html>